@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --fontemain: 'League Spartan', sans-serif;
    --fontesecond: 'Playfair Display', serif;
    --color-primary: #e8d8c4;
    --color-secondary: #1c3a57;
    --color-terceira: #dcccb3;
    --color-quarta: #e0e0e0;
    --preto : #000000;
    --branco : #ffffff;
    --azul-escuro: #002147;
    --azul-claro: #004080;
}


body {
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-wrap: wrap; */
    background-color: var(--color-terceira);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    text-align: center;
    margin: 2%;
    padding-bottom: 0px;
    border-bottom: #1c3a57 solid 1px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 0;
}

h1 {
    font-family: var(--fontemain);
    font-weight: 700;
    font-style: normal;
    color: var(--color-secondary);
    font-size: 40px;

}

.link {
    font-family: var(--fontemain);
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 25px;
}

.link:hover {
    text-decoration: underline;
}
/* estilizando a introducao do site */
#introduction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#div-intro{
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* estilizando o conteudo do site  */
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
}
#javascript{
    border: var(--azul-escuro) solid 1px;
    width: 300px;
    height: 200px;
    padding: 5px;
    word-break: break-word;
    white-space: normal;
    transition: opacity 0.5s ;
    opacity: 1;
    align-items: center;
    justify-content: center;
}
#javascript p{
    text-align: justify;
}
#javascript:hover{
    box-shadow:1px 0px 0px 1px rgba(0, 0, 0, 0.5);
}   
/* estilizando a secao da info */
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 500px;
    max-height: 500px;
}
#main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}   
/* estilizando a secao dos admnins */
#admin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    font-weight: bold;
}
#admin a{
    font-family: var(--fontesecond);
    text-align: center;
    text-decoration: none;
}
#admin .cargos {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}
img{
    width: 200px;
    height: 200px;
}